@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chonburi&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1, 34, 89);
    height: 80px;

}

header h1{
    font-size: 60px;
    color: white ;
    font-family: "Boogaloo", sans-serif;
    font-weight: normal;
}

.hero{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    /* border: 1px solid rgb(255, 0, 0); */
}
.box-img{
    display: flex;
    justify-content:center ;
    width: 37%;
    /* border: 1px solid blue; */
}

.responsiva{
    max-width: 100%;
}

.box-txt{
    display: flex;
    padding: 0px 40px;
    flex-flow: row wrap;
    width: 45%;
    /* border: 1px solid green; */
}
 .box-txt span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;

 }
 .box-txt h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

 .box-txt p{
    color: gray;
    margin-top: 30px;
 }

.especialidades h3{
    color: rgb(1, 34, 89);
}

 .especialidades p{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
 }

 .especialidades h4{
    margin-top: 25px;
    margin-bottom: 60px;
 }
 .b-f{
    background: rgb(166, 77, 207);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-f:hover{
    background: rgb(131, 11, 187);
    font-size: 18px;
 }
.b-p{
    background: rgb(41, 136, 245);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-p:hover{
    background: rgb(41, 72, 245);
    font-size: 18px;
 }

.b-m{
    background: rgb(247, 146, 52);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }

.b-m:hover{
    background: rgb(255, 94, 1);
    font-size: 18px;
 }

.b-e{
    background: rgb(3, 194, 105);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-e:hover{
    background: rgb(0, 156, 83);
    font-size: 18px;
 }

 .btn-hero{
    background: rgb(247, 146, 52);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }


.btn-hero:hover{
    background: rgb(255, 94, 1);
    font-size: 18px;
 }

.box-item{
    width: 30%;
    height: 450px;
    background:rgb(142, 161, 194);
    margin: 5px;
    padding: 30px 30px;
    text-align: center;
    border-radius: 7px;
 }

.especialidades{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}

.m-top{
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background:  rgb(1, 34, 89);
    height: 150px;
    color: white;
    font-size: 22px;
}
.Instagran{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.aplicações{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    /*border: 1px solid rgb(255, 0, 0);*/
}
.box-pli{
    display: flex;
    padding: 0px 40px;
    flex-flow: row wrap;
    width: 450px;
    height: 600px;
    /*border: 1px solid green;*/

}

.box-pli span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
 }

.box-pli h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

.box-pli p{
    color: gray;
    margin-top: 30px;
    margin-bottom: 200px;
 }

.box-exe{
    display: flex;
    justify-content:center ;
    width: 49%;
    /*border: 1px solid blue;*/
}

.parcerias h2{
    color: rgb(1, 34, 89);
}

 .parcerias p{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
 }

 .box-par{
    width: 30%;
    height: 350px;
    background:rgb(142, 161, 194);
    margin: 100px;
    padding: 30px 30px;
    text-align: center;
    border-radius: 7px;
 }

.parcerias{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}


html {
  scroll-behavior: smooth;
}

.titulo span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 70px;
}
.titulo h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }


.titulo p{
    color: gray;
    margin-top: 30px;
 }
.titulo{
    width: 85%;
    height: 140px;
}

.box-im{
    display: flex;
    justify-content:center ;
    width: 100%;
    /*border: 1px solid blue;*/
}

.metodologia{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}

.met span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 70px;
}
.met h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

.apoie{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}

.box-col{
    display: flex;
    padding: 0px 40px;
    flex-flow: row wrap;
    width: 650px;
    /*border: 1px solid green;*/

}

.box-for{
    display: flex;
    padding: 0px 40px;
    flex-flow: column;
    
    /*border: 1px solid blue;*/
}

.bot-1{
    background: rgb(166, 77, 207);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 100px;
    font-size: 18px;
 }
.bot-1:hover{
    background: rgb(131, 11, 187);
    font-size: 20px;
 }

.bot-2{
    background: rgb(41, 136, 245);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
    font-size: 18px;
 }
.bot-2:hover{
    background: rgb(41, 72, 245);
    font-size: 20px;
 }

.box-col span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
}

.box-col h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
}

.box-col p{
    color: gray;
    margin-top: 10px;
}

@media screen  and (max-width: 1200px){
    .hero{
        flex-direction: column-reverse;
     }
     .box-txt{
        flex-flow: column wrap ;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 40px 30px;
     }

     .box-txt h2{
        font-family: 60px;
     }
     .box-txt p{
        text-align: center;
     }

     .box-img{
        width: 100%;
        margin-bottom: 40px;
     }


     .box-item{
         width: 95%;
     }

     footer {
        font-size: 13px;
        text-align: center;
     }

}
