@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chonburi&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1, 34, 89);
    height: 80px;

}

header h1{
    font-size: 60px;
    color: white ;
    font-family: "Boogaloo", sans-serif;
    font-weight: normal;
}

.hero{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    /* border: 1px solid rgb(255, 0, 0); */
}
.box-img{
    display: flex;
    justify-content:center ;
    width: 37%;
    /* border: 1px solid blue; */
}

.responsiva{
    max-width: 100%;
}

.box-txt{
    display: flex;
    padding: 0px 40px;
    flex-flow: row wrap;
    width: 45%;
    /* border: 1px solid green; */
}
 .box-txt span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;

 }
 .box-txt h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

 .box-txt p{
    color: gray;
    margin-top: 30px;
 }

.especialidades h3{
    color: rgb(1, 34, 89);
}

 .especialidades p{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
 }

 .especialidades h4{
    margin-top: 25px;
    margin-bottom: 60px;
 }
 .b-f{
    background: rgb(166, 77, 207);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-f:hover{
    background: rgb(131, 11, 187);
    font-size: 18px;
 }
.b-p{
    background: rgb(41, 136, 245);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-p:hover{
    background: rgb(41, 72, 245);
    font-size: 18px;
 }

.b-m{
    background: rgb(247, 146, 52);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }

.b-m:hover{
    background: rgb(255, 94, 1);
    font-size: 18px;
 }

.b-e{
    background: rgb(3, 194, 105);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }
.b-e:hover{
    background: rgb(0, 156, 83);
    font-size: 18px;
 }

 .btn-hero{
    background: rgb(247, 146, 52);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
 }


.btn-hero:hover{
    background: rgb(255, 94, 1);
    font-size: 18px;
 }

.box-item{
    width: 30%;
    height: 450px;
    background:rgb(142, 161, 194);
    margin: 5px;
    padding: 30px 30px;
    text-align: center;
    border-radius: 7px;
 }

.especialidades{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}

.m-top{
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background:  rgb(1, 34, 89);
    height: 150px;
    color: white;
    font-size: 22px;
}
.Instagran{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.aplicações{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    /*border: 1px solid rgb(255, 0, 0);*/
}
.box-pli{
    display: flex;
    padding: 0px 40px;
    flex-flow: row wrap;
    width: 450px;
    height: 600px;
    /*border: 1px solid green;*/

}

.box-pli span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
 }

.box-pli h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

.box-pli p{
    color: gray;
    margin-top: 30px;
    margin-bottom: 200px;
 }

.box-exe{
    display: flex;
    justify-content:center ;
    width: 49%;
    /*border: 1px solid blue;*/
}

.parcerias h2{
    color: rgb(1, 34, 89);
}

 .parcerias p{
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
 }

 .box-par{
    width: 40%;
    height: 370px;
    background:rgb(142, 161, 194);
    margin: 100px;
    padding: 30px 30px;
    text-align: center;
    border-radius: 7px;
 }

.b-par{
    background: rgb(247, 146, 52);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-top: 50px;
    margin-bottom: 50px;

 }


.b-par:hover{
    background: rgb(255, 94, 1);
    font-size: 18px;
 }


.parcerias{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}


html {
  scroll-behavior: smooth;
}

.titulo span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 70px;
}
.titulo h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }


.titulo p{
    color: gray;
    margin-top: 30px;
 }
.titulo{
    width: 85%;
    height: 140px;
}

.box-im{
    display: flex;
    justify-content:center ;
    width: 100%;
    /*border: 1px solid blue;*/
}

.metodologia{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%; 
}

.met span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 70px;
}
.met h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
 }

.apoie{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.box-col{
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    margin-left: 12%; 
    /*border: 1px solid green;*/
}



.box-for{
   display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: column;
    margin-left: 5%;
    margin-right:20%;
    width: 40%;
    /*border: 1px solid  blue;*/
}

.bot-1{
    background: rgb(166, 77, 207);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 100px;
    font-size: 18px;
 }
.bot-1:hover{
    background: rgb(131, 11, 187);
    font-size: 20px;
 }

.bot-2{
    background: rgb(41, 136, 245);
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans" , sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
    font-size: 18px;
 }
.bot-2:hover{
    background: rgb(41, 72, 245);
    font-size: 20px;
 }

.box-col span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 70px;
}

.box-col h2{
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: rgb(247, 146, 52);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 55px;
}

.box-col p{
    color: gray;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    
    /* 1. Seção Principal (Hero) */
    .hero {
        flex-direction: column-reverse;
    }
    .box-txt {
        width: 100%;
        text-align: center;
        padding: 40px 20px;
    }
    .box-img {
        width: 100%;
        margin-bottom: 20px;
    }

    /* 2. Seção Oficinas e Especialidades (Cards) */
    .box-item {
        width: 100%; /* Ocupa a largura toda no celular */
        height: auto; /* Deixa o box crescer conforme o texto */
        margin: 10px 0;
    }

    /* 3. Seção Aplicações (Oficinas CTMV) */
    .aplicações {
        flex-direction: column;
    }
    .box-pli {
        width: 100%;
        height: auto; /* Remove os 600px fixos que causavam sobreposição */
        padding: 20px;
        text-align: center;
    }
    .box-pli p {
        margin-bottom: 30px; /* Reduz o espaço exagerado */
    }
    .box-exe {
        width: 100%;
    }

    /* 4. Seção Parcerias e Apoio */
    .parcerias {
        flex-direction: column;
    }
    .box-par {
        width: 100%; /* Remove os 40% fixos */
        height: auto; /* Fundamental para não cortar o texto */
        margin: 20px 0;
        padding: 40px 20px;
    }

    /* 5. Títulos e Metodologia */
    .titulo, .met {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .titulo h2, .met h2 {
        font-size: 32px; /* Diminui um pouco o título no celular */
        line-height: 40px;
    }

    /* 6. Seção de Formulário / Colaborador (Apoie) */
    .apoie {
        flex-direction: column;
    }
    .box-col {
        width: 100%;
        margin-left: 0;
        padding: 20px;
        text-align: center;
    }
    .box-for {
        width: 100%;
        margin: 20px 0;
        padding: 0 20px;
    }
    .bot-1, .bot-2 {
        width: 100%; /* Botões ficam largos e fáceis de clicar no celular */
        margin-bottom: 20px;
    }

    /* 7. Rodapé */
    footer {
        font-size: 14px;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }
}
